.jumbotron {
  background: url("Hero_Big Island2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 17%;
  padding-bottom: 33%;
  height: 500px;
}

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: 'Righteous', cursive;
}

h3 {
  text-align: center;
}

#break {
  text-align: center;
}

#blurb {
  text-align: center;
  font-style: italic;
}
